.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 